<div class="container">
  <div class="d-flex align-items-center p-3 my-3 rounded shadow-sm">
    <div class="lh-100">
      <h4 class="mb-0 lh-100"><%= @job.title%></h4>
      <em> at <%= @job.recruiter%></em>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <%=raw @job.description%>
    </div>
    <div class="col-md-4 col-sm-12 mt-6">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>  
</div>
