<footer class="text-muted bg-light mt-5">
  <div class="container">
    <div class="p-3">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>JustRemote &copy;2019</p>
      <p>Best Remote Jobs</p>
    </div>
  </div>
</footer>